{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo ratione reiciendis sint soluta tempore tenetur
    ullam? Aperiam consectetur eveniet id ipsa magnam molestiae, quibusdam quos reiciendis tempora voluptates. Aliquid
    deserunt facere id magni voluptatibus. Asperiores dolores eaque excepturi iusto!</p><p>Accusamus ad animi commodi
    consequatur corporis ea eveniet fuga iure nam temporibus. Accusantium amet animi error facere illum in magni numquam
    placeat quia quo rerum sint soluta unde veritatis, vitae voluptas voluptatem? Animi, assumenda hic minus
    reprehenderit temporibus ullam voluptatibus.</p>

{% endblock %}