{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>titre de l'article</h2>
        <div class="metadata">écrit le 19/11/2018 à 20h dans la catégorie balnave</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dolores est illum labore
                officia.</p>
            <p>Eaque earum exercitationem incidunt maxime officiis omnis, voluptatum! Eius eligendi facere laudantium
                rerum temporibus veniam?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur blanditiis cupiditate
                deleniti dolores dolorum eius enim eos, fugit minima nihil obcaecati odio optio porro, quidem ut
                voluptatem voluptatibus. Alias, at error, eveniet expedita facilis harum nesciunt quis repellendus
                sapiente similique temporibus voluptate. Cumque earum eius itaque quia quo. Eius.</p>
            <p>Asperiores atque blanditiis consectetur dolores eius eum inventore, neque, nesciunt omnis quidem tempore
                ut veniam. Architecto atque aut blanditiis dignissimos dolorum ex id illum in laborum libero nam nisi
                numquam officia officiis omnis repellat, rerum! Adipisci aliquam deleniti, et ex inventore laboriosam
                neque odio quasi quo sed. Distinctio, maxime, molestias?</p>
    </article>


{% endblock %}